<%- layout('layouts/boilerplate') %>
<div class="row text-white mb-3 rounded">
  <div class="col-6 offset-3 bg-dark rounded px-5">
    <h1 class="text-center my-3">New Campground</h1>
    <form
      action="/campgrounds"
      method="post"
      class="needs-validation"
      novalidate
    >
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          name="campground[title]"
          placeholder="Name of Campground (min. 5 characters)"
          required
          minlength="5"
          maxlength="30"
          <% if(formData && formData.length){//displaying this value if the user made a mistake and already filled some data in the form %>
            value = "<%= formData[0].campground.title %>"
          <% } %>
        />
        <div class="invalid-feedback">
          Please provide a valid name of atleast 5 and max. 30 characters
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Location</label
        >
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          name="campground[location]"
          placeholder="Location of Campground"
          required
          <% if(formData && formData.length){ %>
            value = "<%= formData[0].campground.location %>"
          <% } %>
        />
        <div class="invalid-feedback">Please provide a valid location</div>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Image URL</label
        >
        <input
          type="url"
          class="form-control"
          id="exampleFormControlInput1"
          name="campground[img]"
          placeholder="Image of Campground"
          required
          <% if(formData && formData.length){ %>
            value = "<%= formData[0].campground.img %>"
          <% } %>
        />
        <div class="invalid-feedback">Please provide a valid URL</div>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Price</label>
        <div class="input-group">
          <span class="input-group-text">$</span>
          <input
            type="number"
            class="form-control"
            aria-label="Amount (to the nearest dollar)"
            placeholder="Price of Campground"
            name="campground[price]"
            required
            min="0"
            <% if(formData && formData.length){ %>
              value = "<%= formData[0].campground.price %>"
            <% } %>
          />
          <span class="input-group-text">.00</span>
          <div class="invalid-feedback">Please provide a valid price</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"
          >Description</label
        >
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          name="campground[description]"
          placeholder="Describe your campground in atleast 20 characters..."
          rows="3"
          required
          minlength="20"
        ><% if(formData && formData.length){ %>
          <%= formData[0].campground.description %>
        <% } %></textarea>
        <div class="invalid-feedback">
          Please provide a valid description of minimum 20 characters
        </div>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary mb-3">Submit</button>
      </div>
    </form>
  </div>
</div>
