<%- layout('layouts/boilerplate') %>

<div class="row">
  <div class="col-10 m-auto mb-3">
    <div class="card mb-3">
      <div class="img">
        <img src="<%= camp.img %>" class="d-block w-100 rounded" alt="..." />
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= camp.title%></h5>
        <p class="card-text"><%= camp.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted">
          <a
            href="https://www.google.com/maps/place/<%= camp.location.split(' ').join('') %>"
            ><%= camp.location %></a
          >
        </li>
        <li class="list-group-item">$<%= camp.price %> /night</li>
      </ul>
      <div class="card-body">
        <a
          href="/campgrounds/<%= camp._id %>/edit"
          class="card-link btn btn-primary"
          >Edit</a
        >
        <form
          class="d-inline"
          action="/campgrounds/<%= camp._id %>/?_method=DELETE"
          method="post"
        >
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>

    <h2 class="my-4">Reviews</h2>
    <hr />

    <div class="mb-3">
      <div class="list-group m-3 overflow-auto" style="max-height: 30rem">
        <% let sum = 0, count = 0 %> <% if(camp.reviews.length){ %> <% for(let
        review of camp.reviews){ %> <% sum += review.rating %> <% count++ %>

        <div class="border rounded m-2 p-2">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Rating: <%= review.rating %></h5>
          </div>

          <div class="overflow-auto text-wrap p-2" style="max-height: 10rem">
            <p><%= review.body%></p>
          </div>

          <div class="d-flex w-100 justify-content-end">
            <form
              action="/campgrounds/<%= camp._id %>/reviews/<%= review._id %>?_method=DELETE"
              method="post"
            >
              <button class="btn btn-danger btn-sm">Delete</button>
            </form>
          </div>
        </div>

        <% } %><% } else{ %>
        <i class="text-muted">No reviews yet</i>
        <% } %>
      </div>

      <% if(camp.reviews.length){ %>
      <div class="m-4">
        <h5>Overall Rating: <%= (sum/count).toFixed(2) %></h5>
      </div>
      <% } %>
    </div>

    <h2 class="my-4">Leave a review</h2>
    <hr />

    <form
      action="/campgrounds/<%= camp._id %>/reviews"
      method="post"
      class="needs-validation mx-4"
      novalidate
    >
      <div class="mb-2">
        <label class="form-label" for="rating">Rating</label>
        <input
          type="range"
          class="form-range bg-dark rounded"
          min="0"
          max="5"
          name="review[rating]"
          id="rating"
          required
        />
        <div class="invalid-feedback">Please give a rating</div>
      </div>
      <div class="mb-3">
        <label for="body">Text</label>
        <textarea
          name="review[body]"
          class="form-control"
          id="body"
          cols="30"
          rows="5"
          minlength="10"
          required
        ></textarea>
        <div class="invalid-feedback">
          Please provide your feedback in atleast 10 characters
        </div>
      </div>
      <div>
        <button class="btn btn-success">Submit</button>
      </div>
    </form>
  </div>
</div>
